bestbuyCategoriesProcessGroup (1).xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>c559c02b-0182-1000-68bc-4e25a1fa8f8d</groupId>
    <name>bestbuyCategoriesProcessGroup</name>
    <snippet>
        <controllerServices>
            <id>1a6d5405-a7e2-3752-0000-000000000000</id>
            <parentGroupId>d66eb515-db7b-3fe2-0000-000000000000</parentGroupId>
            <versionedComponentId>1a6d5405-a7e2-3752-afc9-00a48131d41e</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-dbcp-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.17.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Database Connection URL</key>
                    <value>
                        <name>Database Connection URL</name>
                    </value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>
                        <name>Database Driver Class Name</name>
                    </value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>
                        <name>database-driver-locations</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
                        <name>kerberos-user-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                        <name>kerberos-credentials-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                    <value>
                        <name>kerberos-principal</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                    <value>
                        <name>kerberos-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>
                        <name>Database User</name>
                    </value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>
                        <name>Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>
                        <name>Max Wait Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>
                        <name>Max Total Connections</name>
                    </value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>
                        <name>Validation-query</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>
                        <name>dbcp-min-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>
                        <name>dbcp-max-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>
                        <name>dbcp-max-conn-lifetime</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>
                        <name>dbcp-time-between-eviction-runs</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-min-evictable-idle-time</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-soft-min-evictable-idle-time</name>
                    </value>
                </entry>
            </descriptors>
            <name>mySql Server</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Database Connection URL</key>
                    <value>jdbc:mysql://localhost:3306/bestbuy?user=root2&amp;password=root2&amp;useUnicode=true&amp;characterEncoding=UTF-8</value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>com.mysql.cj.jdbc.Driver</value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>/opt/nifi/nifi-current/lib/mysql-connector-java-8.0.29.jar</value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>root2</value>
                </entry>
                <entry>
                    <key>Password</key>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>500 millis</value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>0</value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>30 mins</value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>-1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
        </controllerServices>
        <processGroups>
            <id>214a7fb7-529b-3b1c-0000-000000000000</id>
            <parentGroupId>d66eb515-db7b-3fe2-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>214a7fb7-529b-3b1c-9716-4641118a0ed0</versionedComponentId>
            <comments></comments>
            <contents>
                <connections>
                    <id>180af124-3135-3730-0000-000000000000</id>
                    <parentGroupId>214a7fb7-529b-3b1c-0000-000000000000</parentGroupId>
                    <versionedComponentId>180af124-3135-3730-8347-cbed01376acf</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>-584.0</x>
                        <y>-208.0</y>
                    </bends>
                    <destination>
                        <groupId>214a7fb7-529b-3b1c-0000-000000000000</groupId>
                        <id>0ccaa56b-2c05-3de4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>0ccaa56b-2c05-3de4-9cd3-b327dc02ff2e</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>split</selectedRelationships>
                    <source>
                        <groupId>214a7fb7-529b-3b1c-0000-000000000000</groupId>
                        <id>e6088a3c-8fd1-3972-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>e6088a3c-8fd1-3972-b8d3-4a9bea9b9de2</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>1d26c146-8592-3d43-0000-000000000000</id>
                    <parentGroupId>214a7fb7-529b-3b1c-0000-000000000000</parentGroupId>
                    <versionedComponentId>1d26c146-8592-3d43-9653-4aabc30ccdbd</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>120.0</x>
                        <y>208.0</y>
                    </bends>
                    <destination>
                        <groupId>214a7fb7-529b-3b1c-0000-000000000000</groupId>
                        <id>270ea412-3071-3c9a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>270ea412-3071-3c9a-a171-6d8652e326eb</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>214a7fb7-529b-3b1c-0000-000000000000</groupId>
                        <id>ef5aace9-2548-372a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ef5aace9-2548-372a-9b55-36990ad3c872</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>1da7c1c8-cc02-388c-0000-000000000000</id>
                    <parentGroupId>214a7fb7-529b-3b1c-0000-000000000000</parentGroupId>
                    <versionedComponentId>1da7c1c8-cc02-388c-a061-d1fff573dd27</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>80.4148722546837</x>
                        <y>845.3873447602905</y>
                    </bends>
                    <bends>
                        <x>80.4148722546837</x>
                        <y>895.3873447602905</y>
                    </bends>
                    <destination>
                        <groupId>214a7fb7-529b-3b1c-0000-000000000000</groupId>
                        <id>1fdaaac2-8e32-3016-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>1fdaaac2-8e32-3016-a483-d18a5930f31b</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>retry</selectedRelationships>
                    <source>
                        <groupId>214a7fb7-529b-3b1c-0000-000000000000</groupId>
                        <id>1fdaaac2-8e32-3016-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>1fdaaac2-8e32-3016-a483-d18a5930f31b</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>20d16775-9cee-3fcb-0000-000000000000</id>
                    <parentGroupId>214a7fb7-529b-3b1c-0000-000000000000</parentGroupId>
                    <versionedComponentId>20d16775-9cee-3fcb-b7ad-f57aefb610b3</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>-576.0</x>
                        <y>64.0</y>
                    </bends>
                    <destination>
                        <groupId>214a7fb7-529b-3b1c-0000-000000000000</groupId>
                        <id>ef5aace9-2548-372a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ef5aace9-2548-372a-9b55-36990ad3c872</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>214a7fb7-529b-3b1c-0000-000000000000</groupId>
                        <id>e270c34a-9da9-3ba9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>e270c34a-9da9-3ba9-bec8-b4a8f5426d66</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>24301faf-3d1f-3165-0000-000000000000</id>
                    <parentGroupId>214a7fb7-529b-3b1c-0000-000000000000</parentGroupId>
                    <versionedComponentId>24301faf-3d1f-3165-9a1d-d57dbd58976b</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>-680.0</x>
                        <y>128.0</y>
                    </bends>
                    <bends>
                        <x>-688.0</x>
                        <y>568.0</y>
                    </bends>
                    <destination>
                        <groupId>214a7fb7-529b-3b1c-0000-000000000000</groupId>
                        <id>4c79622b-80f5-3595-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>4c79622b-80f5-3595-89b8-d2f6c7783c79</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>nulls</selectedRelationships>
                    <source>
                        <groupId>214a7fb7-529b-3b1c-0000-000000000000</groupId>
                        <id>ef5aace9-2548-372a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ef5aace9-2548-372a-9b55-36990ad3c872</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>27c685f2-d92e-394c-0000-000000000000</id>
                    <parentGroupId>214a7fb7-529b-3b1c-0000-000000000000</parentGroupId>
                    <versionedComponentId>27c685f2-d92e-394c-bbd0-e9151e0ce038</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>-576.0</x>
                        <y>-64.0</y>
                    </bends>
                    <destination>
                        <groupId>214a7fb7-529b-3b1c-0000-000000000000</groupId>
                        <id>e270c34a-9da9-3ba9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>e270c34a-9da9-3ba9-bec8-b4a8f5426d66</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>214a7fb7-529b-3b1c-0000-000000000000</groupId>
                        <id>0ccaa56b-2c05-3de4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>0ccaa56b-2c05-3de4-9cd3-b327dc02ff2e</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>28f92316-cf8b-3e4a-0000-000000000000</id>
                    <parentGroupId>214a7fb7-529b-3b1c-0000-000000000000</parentGroupId>
                    <versionedComponentId>28f92316-cf8b-3e4a-a514-aacee054768a</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>384.0</x>
                        <y>-704.0</y>
                    </bends>
                    <destination>
                        <groupId>214a7fb7-529b-3b1c-0000-000000000000</groupId>
                        <id>ae7b2766-fe26-3ca8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ae7b2766-fe26-3ca8-844d-e3a5be583f69</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>214a7fb7-529b-3b1c-0000-000000000000</groupId>
                        <id>f78318a1-27c5-34cb-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>f78318a1-27c5-34cb-96f9-53a71a371d8c</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>51875c54-1d32-3faa-0000-000000000000</id>
                    <parentGroupId>214a7fb7-529b-3b1c-0000-000000000000</parentGroupId>
                    <versionedComponentId>51875c54-1d32-3faa-a7ff-0da4546b14ed</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>-584.0</x>
                        <y>-792.0</y>
                    </bends>
                    <destination>
                        <groupId>214a7fb7-529b-3b1c-0000-000000000000</groupId>
                        <id>ae7b2766-fe26-3ca8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ae7b2766-fe26-3ca8-844d-e3a5be583f69</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>214a7fb7-529b-3b1c-0000-000000000000</groupId>
                        <id>506e4a60-8c98-35d0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>506e4a60-8c98-35d0-99e8-1b7166bdbd73</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>66de7999-b099-3703-0000-000000000000</id>
                    <parentGroupId>214a7fb7-529b-3b1c-0000-000000000000</parentGroupId>
                    <versionedComponentId>66de7999-b099-3703-abe7-4a83e51e3c82</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>214a7fb7-529b-3b1c-0000-000000000000</groupId>
                        <id>f78318a1-27c5-34cb-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>f78318a1-27c5-34cb-96f9-53a71a371d8c</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>214a7fb7-529b-3b1c-0000-000000000000</groupId>
                        <id>6a9eec31-8e8f-33dc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>6a9eec31-8e8f-33dc-9785-2a4bdef7ebc2</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>97057ced-3690-3d21-0000-000000000000</id>
                    <parentGroupId>214a7fb7-529b-3b1c-0000-000000000000</parentGroupId>
                    <versionedComponentId>97057ced-3690-3d21-920d-20eedd5aab49</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>-552.0</x>
                        <y>-360.0</y>
                    </bends>
                    <destination>
                        <groupId>214a7fb7-529b-3b1c-0000-000000000000</groupId>
                        <id>e6088a3c-8fd1-3972-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>e6088a3c-8fd1-3972-b8d3-4a9bea9b9de2</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>notLast</selectedRelationships>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>214a7fb7-529b-3b1c-0000-000000000000</groupId>
                        <id>6a9eec31-8e8f-33dc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>6a9eec31-8e8f-33dc-9785-2a4bdef7ebc2</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>97aca9a3-6be2-331f-0000-000000000000</id>
                    <parentGroupId>214a7fb7-529b-3b1c-0000-000000000000</parentGroupId>
                    <versionedComponentId>97aca9a3-6be2-331f-8a80-dfb196369978</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>104.0</x>
                        <y>776.0</y>
                    </bends>
                    <destination>
                        <groupId>214a7fb7-529b-3b1c-0000-000000000000</groupId>
                        <id>1fdaaac2-8e32-3016-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>1fdaaac2-8e32-3016-a483-d18a5930f31b</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>sql</selectedRelationships>
                    <source>
                        <groupId>214a7fb7-529b-3b1c-0000-000000000000</groupId>
                        <id>0c3e1e47-1ca7-3bd9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>0c3e1e47-1ca7-3bd9-aee3-74eff32b67cd</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>a43b78e6-10be-38e7-0000-000000000000</id>
                    <parentGroupId>214a7fb7-529b-3b1c-0000-000000000000</parentGroupId>
                    <versionedComponentId>a43b78e6-10be-38e7-8009-e684e1dbadce</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>96.0</x>
                        <y>648.0</y>
                    </bends>
                    <destination>
                        <groupId>214a7fb7-529b-3b1c-0000-000000000000</groupId>
                        <id>0c3e1e47-1ca7-3bd9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>0c3e1e47-1ca7-3bd9-aee3-74eff32b67cd</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>214a7fb7-529b-3b1c-0000-000000000000</groupId>
                        <id>4c79622b-80f5-3595-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>4c79622b-80f5-3595-89b8-d2f6c7783c79</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ad71127a-e6d4-35ec-0000-000000000000</id>
                    <parentGroupId>214a7fb7-529b-3b1c-0000-000000000000</parentGroupId>
                    <versionedComponentId>ad71127a-e6d4-35ec-91c6-fb093bab23d2</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>112.0</x>
                        <y>344.0</y>
                    </bends>
                    <destination>
                        <groupId>214a7fb7-529b-3b1c-0000-000000000000</groupId>
                        <id>285a9b27-7b25-31f3-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>285a9b27-7b25-31f3-967f-4341d6f49fd5</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>split</selectedRelationships>
                    <source>
                        <groupId>214a7fb7-529b-3b1c-0000-000000000000</groupId>
                        <id>270ea412-3071-3c9a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>270ea412-3071-3c9a-a171-6d8652e326eb</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c6a9d8fd-fadc-331c-0000-000000000000</id>
                    <parentGroupId>214a7fb7-529b-3b1c-0000-000000000000</parentGroupId>
                    <versionedComponentId>c6a9d8fd-fadc-331c-963a-3f1d0deb878c</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>136.0</x>
                        <y>488.0</y>
                    </bends>
                    <destination>
                        <groupId>214a7fb7-529b-3b1c-0000-000000000000</groupId>
                        <id>4c79622b-80f5-3595-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>4c79622b-80f5-3595-89b8-d2f6c7783c79</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>214a7fb7-529b-3b1c-0000-000000000000</groupId>
                        <id>285a9b27-7b25-31f3-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>285a9b27-7b25-31f3-967f-4341d6f49fd5</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>dd018d9a-8468-317a-0000-000000000000</id>
                    <parentGroupId>214a7fb7-529b-3b1c-0000-000000000000</parentGroupId>
                    <versionedComponentId>dd018d9a-8468-317a-86e7-926c5a43fcd9</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>-544.0</x>
                        <y>-512.0</y>
                    </bends>
                    <destination>
                        <groupId>214a7fb7-529b-3b1c-0000-000000000000</groupId>
                        <id>6a9eec31-8e8f-33dc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>6a9eec31-8e8f-33dc-9785-2a4bdef7ebc2</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>214a7fb7-529b-3b1c-0000-000000000000</groupId>
                        <id>152a8b7a-ad66-3f39-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>152a8b7a-ad66-3f39-a0b6-695e95cd245c</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ed9cb073-769a-3ec0-0000-000000000000</id>
                    <parentGroupId>214a7fb7-529b-3b1c-0000-000000000000</parentGroupId>
                    <versionedComponentId>ed9cb073-769a-3ec0-b6e3-e22385dd9cf2</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>-552.0</x>
                        <y>-640.0</y>
                    </bends>
                    <destination>
                        <groupId>214a7fb7-529b-3b1c-0000-000000000000</groupId>
                        <id>152a8b7a-ad66-3f39-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>152a8b7a-ad66-3f39-a0b6-695e95cd245c</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Response</selectedRelationships>
                    <source>
                        <groupId>214a7fb7-529b-3b1c-0000-000000000000</groupId>
                        <id>ae7b2766-fe26-3ca8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ae7b2766-fe26-3ca8-844d-e3a5be583f69</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <labels>
                    <id>066a8592-0fbf-36e9-0000-000000000000</id>
                    <parentGroupId>214a7fb7-529b-3b1c-0000-000000000000</parentGroupId>
                    <position>
                        <x>600.0</x>
                        <y>-736.0</y>
                    </position>
                    <versionedComponentId>066a8592-0fbf-36e9-8197-4890f57adf56</versionedComponentId>
                    <height>336.0</height>
                    <label>{
  "from" : 1,
  "to" : 100,
  "currentPage" : 1,
  "total" : 4842,
  "totalPages" : 49,
  "queryTime" : "0.013",
  "totalTime" : "0.029",
  "partial" : false,
  "canonicalUrl" : "/v1/categories?show=id,name,subCategories.id,subCategories.name&amp;pageSize=100&amp;format=json&amp;apiKey=qhqws47nyvgze2mq3qx4jadt",
  "categories" : [ {
    "id" : "abcat0010000",
    "name" : "Gift Ideas",
    "subCategories" : [ {
      "id" : "pcmcat1496256957402",
      "name" : "Top Tech Gifts"
    }, 


1. EvaluateJsonPath : takes the currentPage &amp; totalPages attribute 

2. RouteOnAttribute : use property(notLast) to check if currentPage == totalPages 

loop

3. UpdateAttribute : if notLast property is unmatched then currentPage+1

4. SplitJason : send both unmatched &amp; notLast to the splitJason

</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>12px</value>
                        </entry>
                    </style>
                    <width>856.0</width>
                    <zIndex>0</zIndex>
                </labels>
                <labels>
                    <id>0936c62d-2968-3250-0000-000000000000</id>
                    <parentGroupId>214a7fb7-529b-3b1c-0000-000000000000</parentGroupId>
                    <position>
                        <x>40.0</x>
                        <y>-56.0</y>
                    </position>
                    <versionedComponentId>0936c62d-2968-3250-a62d-99cd37fd07ec</versionedComponentId>
                    <height>216.0</height>
                    <label>{
  "subCategories" : [ {
    "id" : "pcmcat1496256957402",
    "name" : "Top Tech Gifts"
  }, {
    "id" : "pcmcat748301108075",
    "name" : "Stocking Stuffers"
  }, {
    "id" : "pcmcat1487279818011",
    "name" : "Mother's Day Gift Ideas"
  }, {
    "id" : "pcmcat1487867427335",
    "name" : "Father's Day Gift Ideas"
  }, </label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>12px</value>
                        </entry>
                    </style>
                    <width>240.0</width>
                    <zIndex>0</zIndex>
                </labels>
                <labels>
                    <id>1d80844c-4a02-37bc-0000-000000000000</id>
                    <parentGroupId>214a7fb7-529b-3b1c-0000-000000000000</parentGroupId>
                    <position>
                        <x>56.0</x>
                        <y>-344.0</y>
                    </position>
                    <versionedComponentId>1d80844c-4a02-37bc-a572-011c157ee2b9</versionedComponentId>
                    <height>224.0</height>
                    <label>#Results on spliting on categories

{
  "id" : "abcat0010000",
  "name" : "Gift Ideas",
  "subCategories" : [ {
    "id" : "pcmcat1496256957402",
    "name" : "Top Tech Gifts"
  }, {
    "id" : "pcmcat748301108075",
    "name" : "Stocking Stuffers"
  }, {
    "id" : "pcmcat1487279818011",
    "name" : "Mother's Day Gift Ideas"
  },</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>12px</value>
                        </entry>
                    </style>
                    <width>256.0</width>
                    <zIndex>0</zIndex>
                </labels>
                <labels>
                    <id>29881286-9a32-3af9-0000-000000000000</id>
                    <parentGroupId>214a7fb7-529b-3b1c-0000-000000000000</parentGroupId>
                    <position>
                        <x>24.0</x>
                        <y>-496.0</y>
                    </position>
                    <versionedComponentId>29881286-9a32-3af9-801c-f8cc91366eef</versionedComponentId>
                    <height>24.0</height>
                    <label>loop</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>16px</value>
                        </entry>
                    </style>
                    <width>64.0</width>
                    <zIndex>0</zIndex>
                </labels>
                <labels>
                    <id>96688612-d4f8-3356-0000-000000000000</id>
                    <parentGroupId>214a7fb7-529b-3b1c-0000-000000000000</parentGroupId>
                    <position>
                        <x>-24.0</x>
                        <y>-768.0</y>
                    </position>
                    <versionedComponentId>96688612-d4f8-3356-8dc3-edd8678522b4</versionedComponentId>
                    <height>32.0</height>
                    <label>#{baseUrlCategories}#{format}&amp;#{apiKey}&amp;#{pageSize}&amp;show=id,name,subCategories.id,subCategories.name </label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>12px</value>
                        </entry>
                    </style>
                    <width>608.0</width>
                    <zIndex>0</zIndex>
                </labels>
                <processors>
                    <id>0c3e1e47-1ca7-3bd9-0000-000000000000</id>
                    <parentGroupId>214a7fb7-529b-3b1c-0000-000000000000</parentGroupId>
                    <position>
                        <x>-392.0</x>
                        <y>656.0</y>
                    </position>
                    <versionedComponentId>0c3e1e47-1ca7-3bd9-aee3-74eff32b67cd</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.17.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JDBC Connection Pool</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>JDBC Connection Pool</name>
</value>
                            </entry>
                            <entry>
<key>Statement Type</key>
<value>
    <name>Statement Type</name>
</value>
                            </entry>
                            <entry>
<key>Table Name</key>
<value>
    <name>Table Name</name>
</value>
                            </entry>
                            <entry>
<key>Catalog Name</key>
<value>
    <name>Catalog Name</name>
</value>
                            </entry>
                            <entry>
<key>Schema Name</key>
<value>
    <name>Schema Name</name>
</value>
                            </entry>
                            <entry>
<key>Translate Field Names</key>
<value>
    <name>Translate Field Names</name>
</value>
                            </entry>
                            <entry>
<key>Unmatched Field Behavior</key>
<value>
    <name>Unmatched Field Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Unmatched Column Behavior</key>
<value>
    <name>Unmatched Column Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Update Keys</key>
<value>
    <name>Update Keys</name>
</value>
                            </entry>
                            <entry>
<key>jts-quoted-identifiers</key>
<value>
    <name>jts-quoted-identifiers</name>
</value>
                            </entry>
                            <entry>
<key>jts-quoted-table-identifiers</key>
<value>
    <name>jts-quoted-table-identifiers</name>
</value>
                            </entry>
                            <entry>
<key>jts-sql-param-attr-prefix</key>
<value>
    <name>jts-sql-param-attr-prefix</name>
</value>
                            </entry>
                            <entry>
<key>table-schema-cache-size</key>
<value>
    <name>table-schema-cache-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JDBC Connection Pool</key>
<value>1a6d5405-a7e2-3752-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Statement Type</key>
<value>INSERT</value>
                            </entry>
                            <entry>
<key>Table Name</key>
<value>bestbuyCategories</value>
                            </entry>
                            <entry>
<key>Catalog Name</key>
                            </entry>
                            <entry>
<key>Schema Name</key>
                            </entry>
                            <entry>
<key>Translate Field Names</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Unmatched Field Behavior</key>
<value>Ignore Unmatched Fields</value>
                            </entry>
                            <entry>
<key>Unmatched Column Behavior</key>
<value>Fail on Unmatched Columns</value>
                            </entry>
                            <entry>
<key>Update Keys</key>
                            </entry>
                            <entry>
<key>jts-quoted-identifiers</key>
<value>false</value>
                            </entry>
                            <entry>
<key>jts-quoted-table-identifiers</key>
<value>false</value>
                            </entry>
                            <entry>
<key>jts-sql-param-attr-prefix</key>
<value>sql</value>
                            </entry>
                            <entry>
<key>table-schema-cache-size</key>
<value>100</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConvertJSONToSQL</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>sql</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ConvertJSONToSQL</type>
                </processors>
                <processors>
                    <id>0ccaa56b-2c05-3de4-0000-000000000000</id>
                    <parentGroupId>214a7fb7-529b-3b1c-0000-000000000000</parentGroupId>
                    <position>
                        <x>-392.0</x>
                        <y>-208.0</y>
                    </position>
                    <versionedComponentId>0ccaa56b-2c05-3de4-9cd3-b327dc02ff2e</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.17.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>categoriesId</key>
<value>
    <name>categoriesId</name>
</value>
                            </entry>
                            <entry>
<key>categoriesName</key>
<value>
    <name>categoriesName</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>categoriesId</key>
<value>$.id</value>
                            </entry>
                            <entry>
<key>categoriesName</key>
<value>$.name</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>10 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>CreateCategoriesIdAndNameAttribute</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>152a8b7a-ad66-3f39-0000-000000000000</id>
                    <parentGroupId>214a7fb7-529b-3b1c-0000-000000000000</parentGroupId>
                    <position>
                        <x>-400.0</x>
                        <y>-624.0</y>
                    </position>
                    <versionedComponentId>152a8b7a-ad66-3f39-a0b6-695e95cd245c</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.17.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>currentPage</key>
<value>
    <name>currentPage</name>
</value>
                            </entry>
                            <entry>
<key>totalPages</key>
<value>
    <name>totalPages</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>currentPage</key>
<value>$.currentPage</value>
                            </entry>
                            <entry>
<key>totalPages</key>
<value>$.totalPages</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>CreateCurrentPageAndTotalPageAttribute</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>1fdaaac2-8e32-3016-0000-000000000000</id>
                    <parentGroupId>214a7fb7-529b-3b1c-0000-000000000000</parentGroupId>
                    <position>
                        <x>-384.0</x>
                        <y>800.0</y>
                    </position>
                    <versionedComponentId>1fdaaac2-8e32-3016-a483-d18a5930f31b</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.17.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JDBC Connection Pool</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>JDBC Connection Pool</name>
</value>
                            </entry>
                            <entry>
<key>putsql-sql-statement</key>
<value>
    <name>putsql-sql-statement</name>
</value>
                            </entry>
                            <entry>
<key>Support Fragmented Transactions</key>
<value>
    <name>Support Fragmented Transactions</name>
</value>
                            </entry>
                            <entry>
<key>database-session-autocommit</key>
<value>
    <name>database-session-autocommit</name>
</value>
                            </entry>
                            <entry>
<key>Transaction Timeout</key>
<value>
    <name>Transaction Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Obtain Generated Keys</key>
<value>
    <name>Obtain Generated Keys</name>
</value>
                            </entry>
                            <entry>
<key>rollback-on-failure</key>
<value>
    <name>rollback-on-failure</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JDBC Connection Pool</key>
<value>1a6d5405-a7e2-3752-0000-000000000000</value>
                            </entry>
                            <entry>
<key>putsql-sql-statement</key>
                            </entry>
                            <entry>
<key>Support Fragmented Transactions</key>
<value>true</value>
                            </entry>
                            <entry>
<key>database-session-autocommit</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Transaction Timeout</key>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>Obtain Generated Keys</key>
<value>false</value>
                            </entry>
                            <entry>
<key>rollback-on-failure</key>
<value>false</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutSQL</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>retry</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutSQL</type>
                </processors>
                <processors>
                    <id>270ea412-3071-3c9a-0000-000000000000</id>
                    <parentGroupId>214a7fb7-529b-3b1c-0000-000000000000</parentGroupId>
                    <position>
                        <x>-392.0</x>
                        <y>208.0</y>
                    </position>
                    <versionedComponentId>270ea412-3071-3c9a-a171-6d8652e326eb</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.17.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JsonPath Expression</key>
<value>
    <name>JsonPath Expression</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JsonPath Expression</key>
<value>subCategories</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SplitJsonSubCategories</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>split</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitJson</type>
                </processors>
                <processors>
                    <id>285a9b27-7b25-31f3-0000-000000000000</id>
                    <parentGroupId>214a7fb7-529b-3b1c-0000-000000000000</parentGroupId>
                    <position>
                        <x>-392.0</x>
                        <y>352.0</y>
                    </position>
                    <versionedComponentId>285a9b27-7b25-31f3-967f-4341d6f49fd5</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.17.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>subCategoriesId</key>
<value>
    <name>subCategoriesId</name>
</value>
                            </entry>
                            <entry>
<key>subCategoriesName</key>
<value>
    <name>subCategoriesName</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>subCategoriesId</key>
<value>$.id</value>
                            </entry>
                            <entry>
<key>subCategoriesName</key>
<value>$.name</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>createSubCategoriesAttributes</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>4c79622b-80f5-3595-0000-000000000000</id>
                    <parentGroupId>214a7fb7-529b-3b1c-0000-000000000000</parentGroupId>
                    <position>
                        <x>-392.0</x>
                        <y>496.0</y>
                    </position>
                    <versionedComponentId>4c79622b-80f5-3595-89b8-d2f6c7783c79</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.17.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Attributes List</key>
<value>
    <name>Attributes List</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-json-regex</key>
<value>
    <name>attributes-to-json-regex</name>
</value>
                            </entry>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Include Core Attributes</key>
<value>
    <name>Include Core Attributes</name>
</value>
                            </entry>
                            <entry>
<key>Null Value</key>
<value>
    <name>Null Value</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Attributes List</key>
<value>categoriesId
, categoriesName
, subCategoriesId
, subCategoriesName</value>
                            </entry>
                            <entry>
<key>attributes-to-json-regex</key>
                            </entry>
                            <entry>
<key>Destination</key>
<value>flowfile-content</value>
                            </entry>
                            <entry>
<key>Include Core Attributes</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Null Value</key>
<value>false</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>AttributesToJSON</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.AttributesToJSON</type>
                </processors>
                <processors>
                    <id>506e4a60-8c98-35d0-0000-000000000000</id>
                    <parentGroupId>214a7fb7-529b-3b1c-0000-000000000000</parentGroupId>
                    <position>
                        <x>-400.0</x>
                        <y>-912.0</y>
                    </position>
                    <versionedComponentId>506e4a60-8c98-35d0-99e8-1b7166bdbd73</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.17.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>File Size</key>
<value>
    <name>File Size</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>
    <name>Data Format</name>
</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>
    <name>Unique FlowFiles</name>
</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>
    <name>generate-ff-custom-text</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                            <entry>
<key>mime-type</key>
<value>
    <name>mime-type</name>
</value>
                            </entry>
                            <entry>
<key>currentPage</key>
<value>
    <name>currentPage</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>File Size</key>
<value>0B</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>Text</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>false</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>mime-type</key>
                            </entry>
                            <entry>
<key>currentPage</key>
<value>1</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>5 min</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>CreateFlowfileWithCurrentPage</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                </processors>
                <processors>
                    <id>6a9eec31-8e8f-33dc-0000-000000000000</id>
                    <parentGroupId>214a7fb7-529b-3b1c-0000-000000000000</parentGroupId>
                    <position>
                        <x>-400.0</x>
                        <y>-480.0</y>
                    </position>
                    <versionedComponentId>6a9eec31-8e8f-33dc-9785-2a4bdef7ebc2</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.17.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Routing Strategy</key>
<value>
    <name>Routing Strategy</name>
</value>
                            </entry>
                            <entry>
<key>notLast</key>
<value>
    <name>notLast</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Routing Strategy</key>
<value>Route to Property name</value>
                            </entry>
                            <entry>
<key>notLast</key>
<value>${currentPage:equals(${totalPages})}</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LoopNotEqualToTotalPages</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>notLast</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
                <processors>
                    <id>ae7b2766-fe26-3ca8-0000-000000000000</id>
                    <parentGroupId>214a7fb7-529b-3b1c-0000-000000000000</parentGroupId>
                    <position>
                        <x>-400.0</x>
                        <y>-768.0</y>
                    </position>
                    <versionedComponentId>ae7b2766-fe26-3ca8-844d-e3a5be583f69</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.17.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>HTTP Method</key>
<value>
    <name>HTTP Method</name>
</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>
    <name>Remote URL</name>
</value>
                            </entry>
                            <entry>
<key>disable-http2</key>
<value>
    <name>disable-http2</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>
    <name>Read Timeout</name>
</value>
                            </entry>
                            <entry>
<key>idle-timeout</key>
<value>
    <name>idle-timeout</name>
</value>
                            </entry>
                            <entry>
<key>max-idle-connections</key>
<value>
    <name>max-idle-connections</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <dependencies>
        <propertyName>Proxy Host</propertyName>
    </dependencies>
    <name>Proxy Port</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>
    <dependencies>
        <propertyName>Proxy Host</propertyName>
    </dependencies>
    <name>Proxy Type</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
<value>
    <dependencies>
        <propertyName>Proxy Host</propertyName>
    </dependencies>
    <name>invokehttp-proxy-user</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
<value>
    <dependencies>
        <propertyName>Proxy Host</propertyName>
    </dependencies>
    <name>invokehttp-proxy-password</name>
</value>
                            </entry>
                            <entry>
<key>oauth2-access-token-provider</key>
<value>
    <identifiesControllerService>org.apache.nifi.oauth2.OAuth2AccessTokenProvider</identifiesControllerService>
    <name>oauth2-access-token-provider</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
<value>
    <name>Basic Authentication Username</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
<value>
    <name>Basic Authentication Password</name>
</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>
    <dependencies>
        <propertyName>Basic Authentication Username</propertyName>
    </dependencies>
    <name>Digest Authentication</name>
</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>
    <name>Penalize on "No Retry"</name>
</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>
    <dependencies>
        <dependentValues>POST</dependentValues>
        <dependentValues>PATCH</dependentValues>
        <dependentValues>PUT</dependentValues>
        <propertyName>HTTP Method</propertyName>
    </dependencies>
    <name>send-message-body</name>
</value>
                            </entry>
                            <entry>
<key>form-body-form-name</key>
<value>
    <dependencies>
        <dependentValues>true</dependentValues>
        <propertyName>send-message-body</propertyName>
    </dependencies>
    <name>form-body-form-name</name>
</value>
                            </entry>
                            <entry>
<key>set-form-filename</key>
<value>
    <dependencies>
        <propertyName>form-body-form-name</propertyName>
    </dependencies>
    <name>set-form-filename</name>
</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>
    <dependencies>
        <dependentValues>POST</dependentValues>
        <dependentValues>PATCH</dependentValues>
        <dependentValues>PUT</dependentValues>
        <propertyName>HTTP Method</propertyName>
    </dependencies>
    <name>Use Chunked Encoding</name>
</value>
                            </entry>
                            <entry>
<key>Content-Encoding</key>
<value>
    <dependencies>
        <dependentValues>POST</dependentValues>
        <dependentValues>PATCH</dependentValues>
        <dependentValues>PUT</dependentValues>
        <propertyName>HTTP Method</propertyName>
    </dependencies>
    <name>Content-Encoding</name>
</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>
    <dependencies>
        <dependentValues>POST</dependentValues>
        <dependentValues>PATCH</dependentValues>
        <dependentValues>PUT</dependentValues>
        <propertyName>HTTP Method</propertyName>
    </dependencies>
    <name>Content-Type</name>
</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>
    <name>Include Date Header</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
<value>
    <name>Attributes to Send</name>
</value>
                            </entry>
                            <entry>
<key>Useragent</key>
<value>
    <name>Useragent</name>
</value>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
<value>
    <name>Put Response Body In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>
    <dependencies>
        <propertyName>Put Response Body In Attribute</propertyName>
    </dependencies>
    <name>Max Length To Put In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>ignore-response-content</key>
<value>
    <name>ignore-response-content</name>
</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>
    <name>use-etag</name>
</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>
    <dependencies>
        <dependentValues>true</dependentValues>
        <propertyName>use-etag</propertyName>
    </dependencies>
    <name>etag-max-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>cookie-strategy</key>
<value>
    <name>cookie-strategy</name>
</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>
    <name>Always Output Response</name>
</value>
                            </entry>
                            <entry>
<key>flow-file-naming-strategy</key>
<value>
    <name>flow-file-naming-strategy</name>
</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>
    <name>Add Response Headers to Request</name>
</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>
    <name>Follow Redirects</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>HTTP Method</key>
<value>GET</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>#{baseUrlCategories}#{format}&amp;#{apiKey}&amp;#{pageSize}&amp;show=id,name,subCategories.id,subCategories.name&amp;page=${currentPage}</value>
                            </entry>
                            <entry>
<key>disable-http2</key>
<value>False</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>15 secs</value>
                            </entry>
                            <entry>
<key>idle-timeout</key>
<value>5 mins</value>
                            </entry>
                            <entry>
<key>max-idle-connections</key>
<value>5</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Port</key>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>http</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
                            </entry>
                            <entry>
<key>oauth2-access-token-provider</key>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>false</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>true</value>
                            </entry>
                            <entry>
<key>form-body-form-name</key>
                            </entry>
                            <entry>
<key>set-form-filename</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Content-Encoding</key>
<value>DISABLED</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>${mime.type}</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
                            </entry>
                            <entry>
<key>Useragent</key>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>256</value>
                            </entry>
                            <entry>
<key>ignore-response-content</key>
<value>false</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>false</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>10MB</value>
                            </entry>
                            <entry>
<key>cookie-strategy</key>
<value>DISABLED</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>false</value>
                            </entry>
                            <entry>
<key>flow-file-naming-strategy</key>
<value>RANDOM</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>True</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>1 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>InvokeCategoriesApi</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>No Retry</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Original</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Response</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Retry</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                </processors>
                <processors>
                    <id>e270c34a-9da9-3ba9-0000-000000000000</id>
                    <parentGroupId>214a7fb7-529b-3b1c-0000-000000000000</parentGroupId>
                    <position>
                        <x>-392.0</x>
                        <y>-72.0</y>
                    </position>
                    <versionedComponentId>e270c34a-9da9-3ba9-bec8-b4a8f5426d66</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.17.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>jolt-transform</key>
<value>
    <name>jolt-transform</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
<value>
    <dependencies>
        <dependentValues>jolt-transform-custom</dependentValues>
        <propertyName>jolt-spec</propertyName>
    </dependencies>
    <name>jolt-custom-class</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
<value>
    <dependencies>
        <dependentValues>jolt-transform-custom</dependentValues>
        <propertyName>jolt-spec</propertyName>
    </dependencies>
    <name>jolt-custom-modules</name>
</value>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>
    <name>jolt-spec</name>
</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>
    <name>Transform Cache Size</name>
</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>
    <name>pretty_print</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>jolt-transform</key>
<value>jolt-transform-chain</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>[{
    "operation":"shift",
    "spec":{
      "subCategories":{
        "*":"subCategories.[]"
      }
    }
}]</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>false</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>JoltTransformJSON</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                </processors>
                <processors>
                    <id>e6088a3c-8fd1-3972-0000-000000000000</id>
                    <parentGroupId>214a7fb7-529b-3b1c-0000-000000000000</parentGroupId>
                    <position>
                        <x>-392.0</x>
                        <y>-344.0</y>
                    </position>
                    <versionedComponentId>e6088a3c-8fd1-3972-b8d3-4a9bea9b9de2</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.17.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JsonPath Expression</key>
<value>
    <name>JsonPath Expression</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JsonPath Expression</key>
<value>categories</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SplitJsonCategories</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>split</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitJson</type>
                </processors>
                <processors>
                    <id>ef5aace9-2548-372a-0000-000000000000</id>
                    <parentGroupId>214a7fb7-529b-3b1c-0000-000000000000</parentGroupId>
                    <position>
                        <x>-384.0</x>
                        <y>64.0</y>
                    </position>
                    <versionedComponentId>ef5aace9-2548-372a-9b55-36990ad3c872</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.17.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Match Requirement</key>
<value>
    <name>Match Requirement</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Content Buffer Size</key>
<value>
    <name>Content Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>nulls</key>
<value>
    <name>nulls</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Match Requirement</key>
<value>content must match exactly</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Content Buffer Size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>nulls</key>
<value>null</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>1 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>RouteOnNullContent</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>nulls</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnContent</type>
                </processors>
                <processors>
                    <id>f78318a1-27c5-34cb-0000-000000000000</id>
                    <parentGroupId>214a7fb7-529b-3b1c-0000-000000000000</parentGroupId>
                    <position>
                        <x>208.0</x>
                        <y>-512.0</y>
                    </position>
                    <versionedComponentId>f78318a1-27c5-34cb-96f9-53a71a371d8c</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.17.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>currentPage</key>
<value>
    <name>currentPage</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>currentPage</key>
<value>${currentPage:plus(1)}</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PlusOneToCurrentPage</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>bestbuyCategories</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>08/23/2022 09:37:58 UTC</timestamp>
</template>
